html {
  height: 100%;
}

body {
  overflow: scroll;
}

#title {
  -webkit-user-select: auto !important;
  -webkit-user-modify: read-write !important;

  outline: 0px solid transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#editor {
  -webkit-user-select: auto !important;
  -webkit-user-modify: read-write !important;

  outline: 0px solid transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

[contentEditable=true]:empty:not(:focus):before {
    content:attr(placeholder)
}